<?xml version="1.0" encoding="utf-8" ?>
<Workbench>
  <RibbonControl Text="规划实时管理与监察系统">
    <Pages>
      
      !----------------------------地图操作---------------------------------------
      <PageItem Type="Ribbon.RibbonPage" Text="地图操作">

        <PageItem Type="Ribbon.RibbonPageGroup" Text="外部数据">
          <PageItem Type="BarButtonItem" Text="加载外部数据" LargeGlyph="True" Group="False" ImageFile="DEV\Images\Actions\AddFile_32x32.png">
            <CommandClass AssemblyName="ESRI.ArcGIS.Controls" ClassName="ESRI.ArcGIS.Controls.ControlsAddDataCommandClass"/>
          </PageItem>
        </PageItem>
        
        <PageItem Type="Ribbon.RibbonPageGroup" Text="地图浏览">
          <PageItem Type="BarButtonItem" Name="" Text="属性" LargeGrlyph="False" Group="False" ImageFile="">
            <CommandClass AssemblyName="LoowooTech.Planner.Commands" ClassName=""/>
          </PageItem>
        </PageItem>
        
        
      </PageItem>
      <PageItem Type="Ribbon.RibbonPage" Text="出图操作">
        
      </PageItem>
    </Pages>

    !------------------------------------系统状态栏----------------------------------------------
    <StatusBar Name="StaticBar" Load="True">
      <BarStaticItem Type="BarStaticItem" Name="Message" Text="" Alignment="Left"></BarStaticItem>
      <BarStaticItem Type="BarStaticItem" Name="PointXY" Text="" Alignment="Right"></BarStaticItem>
      <BarStaticItem Type="BarStaticItem" Name="Scale" Text="" Alignment="Right"></BarStaticItem>
      <BarStaticItem Type="BarStaticItem" Name="LoginUserName" Text="" Alignment="Right"></BarStaticItem>
      <BarStaticItem Type="BarStaticItem" Name="LoginTime" Text="" Alignment="Right"></BarStaticItem>
      <BarStaticItem Type="BarStaticItem" Name="smnuLWis" Text="杭州陆吾科技信息咨询有限公司 研发" Alignment="Right"></BarStaticItem>
    </StatusBar>
  </RibbonControl>
  <AutoRunCommand>
    <CommandClass AssemblyName="LoowooTech.Planner.WorkBench" ClassName="LoowooTech.Planner.WorkBench.UI.CommandShowSketchForm" Parameter="True"/>
  </AutoRunCommand>
</Workbench>
