<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <logger name="OperationLogger">
      <level value="INFO"/>
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="LoginLogger">
      <level value="INFO"/>
      <appender-ref ref="LoginFileAppender"/>
    </logger>
    <logger name="ErrorLogger">
      <level value="WARN"/>
      <appender-ref ref="ErrorFileAppender"/>
    </logger>
    <root>
      <level value="All"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <!--错误日志-->
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\ErrorLogFile.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date%newline级别:%level%newline用户:%OperationUser%newline%OperationMessage%newline%newline"/>
      </layout>
    </appender>
    <!--用户登录日志-->
    <appender name="LoginFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\LoginLogfile.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="3"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <datePattern value="yyyy-MM-dd HH24:mm:ss,fff"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date%newline%OperationUser-%OperationMessage%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <LevelMin value="INFO"/>
        <levelMax value="INFO"/>
        <AcceptOnMatch value="True"/>
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
    </appender>
    <!--日志输出到Console-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-6timestamp [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>

    <!--操作日志-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
      </layout>
    </appender>
  </log4net>
</configuration>