<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfDataSource>
  <DataSource>
    <Name>Default</Name>
    <SourceType>SQLSERVER</SourceType>
    <ConnectionString>Data Source=10.22.102.32\SQLEXPRESS;Initial Catalog=Planner;User ID=sa;Password=Ztop123456</ConnectionString>
    <DbHelpType>SqlDbHelp</DbHelpType>
  </DataSource>
</ArrayOfDataSource>